<app-nav-bar></app-nav-bar>

<!-- //  *ngFor directive is being used to display all returned movies, where each movie is displayed in its own card -->
<div class="movies-page">
  <h1>Movies</h1>


<div class="cards-container">   
  <mat-card *ngFor="let movie of movies;" class="movie-card">
    <mat-card-header>
      <mat-card-title><strong>{{movie.Title}}</strong></mat-card-title>
      <mat-card-subtitle>Directed by: {{movie.Director.Name}}</mat-card-subtitle>
    </mat-card-header>
    <img 
      src={{movie.ImagePath}} 
      alt={{movie.Title}}
      style="width: 100%; height: 100%;"
    />
    <mat-card-actions>
      <button mat-button (click)="openGenreDialog(movie.Genre)" color="primary"
        color="primary"
      >
        Genre
      </button>

      <button mat-button (click)="openDirectorDialog(movie.Director)"
        color="primary"
      >
        Director
      </button>

      <button mat-button (click)="openSynopsisDialog(movie.Description)"
        color="primary"
      >
        Synopsis
      </button>
      
      <button mat-icon-button (click)="toggleFavorite(movie._id)">
        <mat-icon>{{ isFavorite(movie._id) ? 'favorite' : 'favorite_border' }}</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
  
</div>
</div>