html, body {
  // margin: 0;
  // padding: 0;
  height: 100%;  
}

.profile-page {
  background-color: #A5A522; // #FFE0FF;
  padding: 30px;
}

.form-field {
  margin-right: 2px;
}

// ul {
//   list-style: none;
// }